<mat-toolbar color="primary">
  <span>Todo List</span>
  <span class="fill-remaining-space"></span>
  <span>
    <button mat-mini-fab (click)="toggleShowAddTodo('Add')">
      <mat-icon aria-label="Add-new">add_circle_outline</mat-icon>
    </button>
  </span>
</mat-toolbar>
<app-create *ngIf="showAddTodo" [buttonText]="buttonText" (closePanel)="onClosePanel($event)"></app-create>
<mat-card-content>
  <mat-selection-list role="list" *ngFor="let todo of todoList; let i = index">
    <app-todo-item [allOff]="allOff" [todo]="todo" [index]="i" role="listitem" (remove)="onRemove($event)"></app-todo-item>
  </mat-selection-list>
</mat-card-content>
